{% extends 'myinsta/base.html'%}

{% block content %}

    {% for comment in comment %}
        <div class="comment_container">

            <div class="profil">
                <img src="../../media/resource/avatar.png" alt="" class = 'avatar'>
            </div>
            <div class="comment">
                <div class = "author">{{ comment.author }}</div>
                <div class = "text">{{ comment.text }} </div>
            </div>
            <div class="comment_to_comment">
                {% for comments in comment_t_comment %}
                    <span>{{ comment_t_commnet.text }} 덧글</span>
                {% endfor %}
            </div>
            
        </form>
        </div>
    {% empty %}
        <p>아직 댓글이 없습니다.</p>

    {% endfor %}

    <form method="POST" class="comment_form">{% csrf_token %}
        {{ form_comment.as_p }}
        <button type="submit" class="save btn btn-default">댓글게시</button>
    </form>

{% endblock %}