<!DOCTYPE html>
{% load static %}
{% load imagekit %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JonnStagram</title>
        <link rel="stylesheet" type="text/css" href="{% static '/myinsta/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/accounts/css/style.css' %}">
        <script src="https://kit.fontawesome.com/d84ced4060.js" crossorigin="anonymous"></script>
        
    </head>
    </head>
    <body>
        <div class = "Top_Bar">
            <div class="Top_Bar_container">
                <i class="fas fa-camera-retro "></i>
                <a href="{% url 'IndexView'%}" class="Home_Logo">
                    <span>
                        Joonstagram
                    </span>
                </a>
                <a href="{% url 'chat'%}" class="Home_Logo">
                    <i class="far fa-paper-plane"></i>
                </a>
            </div>
        </div>

        <div class="Nav_Bar">
            <div class="Nav_Bar_container">
                <i class="fas fa-home"></i>
                <i class="fas fa-search"></i>
                <a href="{% url 'NewPost' %}"><i class="far fa-plus-square"></i></a>
                <i class="far fa-heart"></i>
                <a href="{% url 'profile' pk=user.pk %}"><i class="far fa-user-circle"></i></a>
            </div>
        </div>
        <div class="maincontents">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>