{% extends 'myinsta/base.html'%}
{% load static %}
{% block content %}
    {% if posts %}
        <ul>
        {% for post in posts %}
                <div class="PostContainer">
                    <div class="Top_Content">
                        <div class="profil">
                            <img class="round" src="../../../media/{{post.user_id}}/{{post.user_id}}" onerror="this.src='/static/myinsta/img/avatar.jpg'" width="200">
                        </div> 
                        <div class="author">
                            <span>{{ post.author }}</span>
                        </div>
                        {% if post.author == user %}
                        <div class="edit_button">
                            <a class="btn btn-default" href="{% url 'EditPost' pk=post.pk %}"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="delete_button">
                            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><i class="fas fa-times"></i></a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="photo">
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="functions">
                        <div class="left_icons">   
                            <i class="fas fa-heart fa-4x"></i>
                            <i class="far fa-comment fa-4x"></i>
                            <i class="far fa-paper-plane fa-4x"></i>
                        </div>
                        <div class="right_icons">
                            <i class="far fa-bookmark fa-4x"></i>
                        </div>
                    </div>
                    <div class="text">
                        {{ post.text }}
                    </div>
                    <div class="AddComment">
                        <a href = "{% url 'add_comment_page' pk=post.pk %}">+댓글 더보기</a>
                    </div>
                    
                </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>아직 게시글이 없습니다.</p>
    {% endif %}
{% endblock %}