{% extends 'insta/base.html'%}

{% block content %}
    {% if latest_posts %}
        <ul>
        {% for post in latest_posts %}
                <div class="PostContainer">
                    <div class="TopMenu">
                        <span>
                            {{ post.author }}
                        </span>
                    </div>
                    <div class="photo">
                        {% if post.photo %}
                            <img src="{{ post.photo.url }}" alt="">
                        {% endif %}
                    </div>
                    <div class="MainContents">
                        {{ post.text }}
                    </div>
                    <div class="AddComment">

                    </div>
                </div>
            {% endfor %}
        </ul>
        {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}