.maincontents{
    margin-top: 80px;
    margin-bottom: 120px;
    width: 980px;
    z-index: 1;
}
.PostContainer{
    padding-bottom: 30px;
}

.Top_Content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 20px;
}

.profil{
    width: 90px;
    height: 90px;
}
.profil img{
    width: 90px;
    height: 90px;
    border-radius: 35px;
}

.Top_Content .author{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 800;
    width: 100%;
    justify-content: flex-start;
}

.Top_Content .delete_button{
    font-size: 50px;
}
.Top_Content .fa-edit{
    font-size: 40px;
    padding-right: 20px;
    padding-bottom: 10px;
}


.PostContainer .text,
.PostContainer .AddComment{
    padding: 0px 10px;
    font-size: 30px;
}

.PostContainer .AddComment {
    padding-top: 10px;
    position: relative;
    opacity: 0.6;
    z-index: 1;
}



.functions .fa-heart{
    color: rgb(255, 71, 71);
}

.functions i{
    padding: 15px;
}

.functions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

