@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&family=Yellowtail&display=swap');
@import "reset.css";
@import "topbar.css";
@import "navbar.css";
@import "maincontents.css";
@import "addcomment.css";
@import "edit_post_form.css";

*{
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
}


a { 
    text-decoration:none ; color:#000000;
}
html{
    width: 100%;
    display: flex;
    justify-content: center;
}

body{
    width: 980px;
}
