.maincontents{
    margin-top: 80px;
    margin-bottom: 120px;
    width: 980px;
}

.Top_Content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 20px 30px;
}

.profil .avatar{
    width: 90px;
    height: 90px;
}

.Top_Content .author{
    padding-left: 30px;
    font-size: 30px;
    font-weight: 800;
    width: 100%;
    justify-content: flex-start;
}

.Top_Content .delete_button{
    font-size: 50px;
}


.PostContainer .text,
.PostContainer .AddComment{
    padding: 0px 20px;
    font-size: 30px;
}

.functions .fa-heart{
    color: rgb(255, 71, 71);
}

.functions i{
    padding: 15px;
}

.functions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}