body .Home_Logo{
    font-family: 'Yellowtail', cursive;
    padding-bottom: 10px;
    
}

.Top_Bar{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: ghostwhite;
    width: 100%;
    height: 80px;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 0px 30px;
    z-index: 100;
}
